/* wrappers */
.game-container {
  background: lightgrey;
  float: left;
  border: 6px solid grey;
}

#root {
  display: inline-block;
  padding-top: 10%;
}

/* cells */
.cell, .cell-closed {
  float: left;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 0;
  margin-right: -1px;
  margin-top: -1px;
}

.cell {
  background: lightgray;
  border-style: outset;
  border-top: 2px outset white;
  border-left: 2px outset white;
  border-bottom: 2px outset gray;
  border-right: 2px outset gray;
}

.cell-closed {
  background: #lightgray;
  border: 1px solid #999;
}

.cell, .cell-closed:focus {
  outline: none;
}

/* board */
.board {
  border-right: 2px outset white;
  border-bottom: 2px outset white;
  border-left: 2px outset gray;
  border-top: 2px outset gray;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

/* board header and items */
.board-header {
  margin-bottom: 50px;
  text-align: center;
}

.timer, .flags {
  font-size: 25px;
  font-family: "Roboto Sans", monospace;
  background: black;
  color: red;
  text-align: center;
  width: 40px;
}

.flags {
  padding: 5px;
  float: left;
  margin: 5px;
}

.emoji {
  width: 20px;
  display: inline-block;
  margin: 0 auto;
}

.timer {
  padding: 5px;
  float: right;
  margin: 5px;
}

/* buttons */
.button-row {
  display: grid;
}

.beginner, .intermediate, .expert {
  margin: 5px;
}
.beginner {
  background: #4bf442;
}

.intermediate {
  background: #66bcff;
}

.expert {
  background: #ff0000;
}
